@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
::-webkit-input-placeholder { color: #ffffff; } ::-moz-placeholder { color: #ffffff; } /* Firefox 19+ */ :-moz-placeholder { color: #ffffff; } /* Firefox 18- */ :-ms-input-placeholder { color: #ffffff; }
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


.todos_list {
  height: calc(var(--container-height) - var(--header-height));
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid rgb(219, 219, 219);
  overflow: scroll;
  border-radius: 0 0 5px 5px;
}

.todo * {
  cursor: pointer;
  margin-right: 0.5rem;
}

.todo {
  display: flex;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-radius: 5px;
}

.todo:hover {
  background-color: rgba(214, 222, 233, 0.753);
}

label {
  display: flex;
  flex: 1;
} 

style.notCheckedText{
  text-decoration: none;
}

.checkedText{
  text-decoration: line-through;
  color: gray;
}

.button_pencil{
  font-size: 0.9rem;
  color: rgb(228, 131, 40);
  margin: 0;
}

.button_trash{
  color: #9c73c2;
  margin: 0;
}

